html,
body {
  background: rgb(33, 33, 33);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

a:link {
  color: gray;
}

a:visited {
  color: lightskyblue;
}

#monaco-editor-root {
}

#flex-window-container {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex-window-item {
}

#flex-window-item-header {
}

#flex-window-item-content {
  flex: 1;
}

#flex-window-item-footer {
}

.grid-layout-container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "editor viewer"
    "editor output";
}

.grid-layout-item-editor {
  grid-area: editor;
}

.grid-layout-item-viewer {
  grid-area: viewer;
}

.grid-layout-item-output {
  grid-area: output;
  overflow-y: scroll;
}

#urdf-output {
  tab-size: 1;
}

#slider-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(50, 50, 50, 0.6);
  border-radius: 5px;
  font-size: 0.6rem;
}

#joint-sliders {
  padding: 10px;
  margin: 0;
}

#slider-container li {
  display: flex;
  align-items: center;
}

#slider-container li label {
  width: 140px;
}

#slider-container li input {
  cursor: pointer;
}
